@import "./vueform.css";
@import "./floating.css";
@import "./vueflow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :is(.bg-background) :is(.color-background-auto) {
        --twc-background: var(--twc-background-100);
    }

    :is(.bg-background-100) :is(.color-background-auto) {
        --twc-background: var(--twc-background-200);
    }

    :is(.bg-background-200) :is(.color-background-auto) {
        --twc-background: var(--twc-background-300);
    }

    :is(.bg-background-300) :is(.color-background-auto) {
        --twc-background: var(--twc-background-200);
    }

    * {
        @apply
            scroll-smooth
            scroll-mt-32
        ;

        &::-webkit-scrollbar {
            @apply size-2;
        }

        &::-webkit-scrollbar-track {
            @apply bg-inherit;
        }
    
        &::-webkit-scrollbar-thumb {
            @apply rounded-full hover:!bg-primary;
        }
        
        &:not(.scrollbar-white, scrollbar-black)::-webkit-scrollbar-thumb {
            @apply bg-contrast/50;
            scrollbar-color: theme(colors.contrast) initial;
        }
    
        &.scrollbar-white::-webkit-scrollbar-thumb {
            @apply bg-white/50;
            scrollbar-color: theme(colors.white.DEFAULT) initial;
        }
    
        &.scrollbar-black::-webkit-scrollbar-thumb {
            @apply bg-black/50;
            scrollbar-color: theme(colors.black.DEFAULT) initial;
        }

        &::selection {
            @apply text-black bg-primary
        }
    }

    html,
    body {
        @apply
            scroll-smooth
            scroll-pt-32
        ;
    }

    body {
        @apply
            text-contrast
            text-base
            text-left
            antialiased
            transition-colors
            duration-500
        ;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    p {
        @apply text-base;
    }

    a.link {
        @apply hover:underline text-primary underline-offset-0 transition-all duration-300 hover:underline-offset-4;
    }

    button:disabled {
        @apply opacity-60 pointer-events-none;
    }

    hr {
        @apply border-t border-current opacity-20
    }

    [draggable="true"] {
        @apply cursor-move;
    }

    kbd {
        @apply rounded bg-primary/20 px-1 py-px font-bold shadow-primary shadow-sm text-primary
    }
}

@layer components {
}

@layer utilities {
    .no_scrollbar::-webkit-scrollbar {
        @apply hidden;
    }

    .no_scrollbar {
        scrollbar-width: none;
    }

    .mask-transparent-border {
        --size: 1.5rem;
        --deg: 180deg;

        mask-image: linear-gradient(var(--deg), transparent 0%, #000 var(--size), #000 calc(100% - var(--size)), transparent 100%);
    }

    input[type='number'].no_arrows::-webkit-outer-spin-button,
    input[type='number'].no_arrows::-webkit-inner-spin-button,
    input[type='number'].no_arrows {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
}